# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# macOS
data/BJH025/*.mat
data/cv_similarity/perm_*/
data/cv_similarity/df_row_fold_*.csv
.DS_Store
**/.DS_Store

# Large model artifacts
*.joblib
